* {
    color: #e8989a;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    background-color: white;
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.logo img{
    max-width: 10vw;
    height:auto;
}

.nav-bar {
    font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: gray;
    background-color: #fff0f0;
}

.right-nav {
    display: flex;
    gap: 20px;

}

.right-nav i {
    font-size: 1.5rem;
    color: grey;
}
nav li {
    list-style-type: none;

}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1rem;
    color: grey;
}